<md-toolbar>
	<h1>Log in</h1>
</md-toolbar>
<md-content class="md-padding">
	<form action="">
		<md-input-container>
			<label>Username</label>
			<input ng-model="user.account.username" type="text">
		</md-input-container>

		<md-input-container>
			<label>Password</label>
			<input ng-model="user.account.password" type="password">
		</md-input-container>
		<div layout="row" layout-align="space-between end">
			<md-button ng-href="#/goals" class="md-raised md-accent">Log in</md-button>
			<md-button>Forgot password?</md-button>
		</div>
	</form>
</md-content>
